.modal-hml-content-sm{
    width: 80% !important;
}

thead{
    background: #D0DEF8;
}

th{
    text-transform: capitalize;
}

input[type="search"]{
    padding: .3em .6em;
    outline: none;
    border-radius: 22px;
    border: 1px solid rgba(0,0,0, .3);
}

.modal-hml-body{
    width: 100%;
}